{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  ring/ring {:mvn/version "1.15.4"}
  integrant/integrant {:mvn/version "1.0.1"}
  environ/environ {:mvn/version "1.2.0"}
  metosin/reitit {:mvn/version "0.10.1"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1093"}
  org.postgresql/postgresql {:mvn/version "42.7.11"}
  clj-http/clj-http {:mvn/version "3.13.1"}
  ovotech/ring-jwt {:mvn/version "2.3.0"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
  com.zaxxer/HikariCP {:mvn/version "7.0.2"}
  org.flywaydb/flyway-database-postgresql {:mvn/version "12.6.0"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  ring/ring-codec {:mvn/version "1.3.0"}
  com.github.seancorfield/honeysql {:mvn/version "2.7.1368"}
  org.clojure/tools.cli {:mvn/version "1.4.256"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.32"}
  ch.qos.logback/logback-core {:mvn/version "1.5.32"}
  org.slf4j/slf4j-api {:mvn/version "2.0.17"}
  org.slf4j/jcl-over-slf4j {:mvn/version "2.0.17"}
  org.slf4j/log4j-over-slf4j {:mvn/version "2.0.17"}
  org.slf4j/osgi-over-slf4j {:mvn/version "2.0.17"}
  org.slf4j/jul-to-slf4j {:mvn/version "2.0.17"}
  org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.26.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      ring/ring-mock {:mvn/version "0.6.2"}
                      integrant/repl {:mvn/version "0.5.1"}
                      org.testcontainers/postgresql {:mvn/version "1.21.4"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :dev {:extra-paths ["dev/src"]
        :extra-deps {ring/ring-mock {:mvn/version "0.6.2"}
                     integrant/repl {:mvn/version "0.5.1"}
                     org.testcontainers/postgresql {:mvn/version "1.21.4"}}}
  :cljfmt {:extra-paths ["dev" "test"]
           :extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.4"}}
           :main-opts  ["-m" "cljfmt.main"]}
  :clj-kondo {:extra-paths ["dev" "test"]
              :extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.04.15"}}
              :main-opts   ["-m" "clj-kondo.main"]}
  :outdated {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
             :main-opts ["-m" "antq.core"]}
  :slim {:deps       {io.github.abogoyavlensky/slim {:mvn/version "0.3.2"}}
         :ns-default slim.app
         :exec-args  {:main-ns   pigeon-scoops-backend.server
                      :uber-file "target/pigeon-scoops.jar"}}}}
