{:server/jetty              {:handler #ig/ref :server/routes
                             :port    3000}
 :server/routes {:jdbc-url #ig/ref :db/postgres
                             :auth     #ig/ref :auth/auth0}
 :db/postgres               {:jdbc-url "jdbc-url"}
 :auth/auth0                {:test-client-id           "test-client-id"
                             :management-client-id     "client-id"
                             :management-client-secret "client-secret"}}
